@page
@model PortfolioMVP.Pages.SolutionsPageModel
@{
    ViewData["Title"] = "Runways";
}
@{
    string delimiter = @Model.Delimiter;
}
<form method="post">
    <div id="wrapper">
        <div class="scrollable-page">
            <div class="div-page-content-head-section">
                <!--Title-->
                <div class="div-page-title">
                    <label class="label-page-title page-text">Overview of all the Challenges & Additions with the solutions</label>
                </div>
                @*<div id="button row" class="div-button-row d-inline-flex">
                <div class="div-button-section">
                <button type="submit" asp-route-classification="All" asp-page-handler="classification" class="menu-text button-formatting">Alle</button>
                </div>
                <div class="div-button-section">
                <button type="submit" asp-route-classification=DictionaryMode.Challenges asp-page-handler="classification" class="menu-text button-formatting">Uidagingen</button>
                </div>
                <div class="div-button-section">
                <button type="submit" asp-route-classification="FutureAdditions" asp-page-handler="classification" class="menu-text button-formatting">Toekomstige features</button>
                </div>
                </div>*@
            </div>

            <!--Search section-->
            <div id="page-section-search" class="div-input-section d-inline-flex">
                <!--Field button combination-->
                <div id="page-section-search-date-section" class="div-input-field-button-combination-section">
                    <div id="page-section-search-date-field" class="div-input-field-section">
                        <input type="text" spellcheck="true" placeholder="Challenge / Addition" class="input-field" asp-for="@Model.SearchTerm" />
                        <button type="submit" class="standard-button" asp-route-classification="All" asp-page-handler="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <!--Result section-->
            <!--Result table title label-->
            @if (Model.SearchEnabled == false && Model.DictionaryClassification == ProjectProgressLibrary.Enums.DictionaryClassification.Challenges)
            {
                <div id="page-section-body-head" class="div-table-title-section">
                    <label class="page-text label-result-text">Oplossingen voor <label class="label-result-seacrhed">uitdagingen</label></label>
                </div>
            }
            @if (Model.SearchEnabled == false && Model.DictionaryClassification == ProjectProgressLibrary.Enums.DictionaryClassification.FutureAdditions)
            {
                <div id="page-section-body-head" class="div-table-title-section">
                    <label class="page-text label-result-text">Oplossingen voor <label class="label-result-seacrhed">features</label></label>
                </div>
            }
            @if (Model.SearchEnabled == false && Model.DictionaryClassification == ProjectProgressLibrary.Enums.DictionaryClassification.All)
                @*{
            <div id="page-section-body-head" class="div-table-title-section">
            <label class="page-text label-result-text label-result-seacrhed">Alle oplossingen</label>
            </div>
            }*@
                @if (Model.SearchEnabled == true)
                {
                    <div id="page-section-body-head" class="div-table-title-section">
                        <label class="page-text label-table-title">Alle oplossingen voor <label class="label-result-text">@Model.SearchTerm</label></label>
                    </div>
                }
            <!--Result table-->
            <!--Table section-->
            <div id="page-section-added-projects-table" class="div-table-section">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="div-table-title-column-head-section">
                                    <label class="label-table-head label-table-title page-text">Challenge / Addition</label>
                                </div>
                            </th>
                            <th>
                                <div class="div-table-sub-column-head-section">
                                    <label class="label-table-head page-text">Solution</label>
                                </div>
                            </th>
                            <th>
                                <div class="div-table-title-column-head-section">
                                    <label class="label-table-head label-table-title page-text">Project name</label>
                                </div>
                            </th>
                            <th>
                                <div class="div-table-title-column-head-section">
                                    <label class="label-table-head label-table-title page-text">Edit</label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var problem in Model.PageSolutions)
                        {
                            <tr>
                                <td>
                                    <div class="div-table-row-title-item-section">
                                        <label class="label-table-row page-text">@problem.Key</label>
                                    </div>
                                </td>
                                <td>
                                    @foreach (var solution in problem.Values)
                                    {
                                        @if (solution.Contains("http") == true)
                                        {
                                            <div class="div-table-sub-column-item-section">
                                                <a href="@solution" target="_blank"><label class="label-table-row page-text">@solution</label> </a>

                                            </div>
                                        }
                                        if (solution.Contains("http") == false)
                                        {
                                            <div class="div-table-sub-column-item-section">
                                                <label class="label-table-row page-text">@solution</label>
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    <label class="label-table-row page-text">@problem.ProjectTitle</label>
                                </td>
                                <td>

                                    <button class="btn btn-dark" asp-page-handler="EditValues" asp-route-item="@problem.ProjectTitle@delimiter@problem.Mode@delimiter@problem.Key">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>