@page
@model PresentationWebFront.Pages.DemoPageModel
@{
}
<form method="post">    
    <div class="d-flex left" id="wrapper">
        <div class="border-end bg-dark p-5" id="sidebar-wrapper">
            <div class="list-group list-group-flush bg-dark" id="side-menu-items">               
                <div>
                    <div id="side-menu-catagory-item" class="text-lg-center">
                        <a class="list-group list-group-flush bg-dark text-light p-4" asp-page="DemoPage">
                            <label id="base-page-title" class="list-group list-group-flush text-muted font-weight-bold">
                                Demo's
                            </label>
                        </a>
                    </div>

                    @foreach (var demoModel in Model.AllDemoModels)
                    {
                        <div id="side-menu-showing-project-item" class="text-lg-center">
                            <a asp-page="DemoPage" asp-route-pagetitle="@demoModel.Title" class="list-group list-group-flush bg-dark">
                                <label class="p-4 text-light">@demoModel.Title</label>
                            </a>
                        </div>
                    }
                </div>               
            </div>
        </div>  
        
        <div class="text-center p-2" id="page-content">
            <h1 class="display-3 p-1">@Model.DemoModelToShow.Title</h1>
            
            <div id="page-content-wrapper " class="p-2">
                <p>
                    @if (Model.ShowPicture == true && string.IsNullOrEmpty(Model.DemoModelToShow.ProjectLink) == false)
                    {
                        <div id="project-link-picture">
                            <p class="p-4 align-items-center">
                                <a href="@Model.DemoModelToShow.ProjectLink" target="_blank"> <img src="~/@Model.ProjectPictureFilePath" width="300" height="200" /></a>
                            </p>
                        </div>

                    }
                    @if (Model.DemoModelToShow.Title != "Demo pagina" && string.IsNullOrEmpty(Model.DemoModelToShow.ProjectLink) == false)
                    {
                        <a href="@Model.DemoModelToShow.ProjectLink" target="_blank" class="text-dark">
                            <h3>
                                <label><strong>Demo proberen</strong></label>
                            </h3>
                        </a>
                    }
                </p>
                <p>

                    @if (Model.DemoModelToShow.Title != "Demo pagina" && string.IsNullOrEmpty(Model.DemoModelToShow.GitHubLink) == false)
                    {
                        <a href="@Model.DemoModelToShow.GitHubLink" target="_blank" class="text-dark">
                            <h3>
                               <img src="~/Pictures/GitHubLogo.png" height="20" width="20" /> <label class="font-italic">View source code</label>
                            </h3>
                        </a>
                    }
                </p>
                <p>
                    <div id="short-description-section">
                        <label class="p-1 text-dark text-info" id="section-title">Omschrijving:</label>
                        <br />
                        <label id="section-body" class="p-1 text-dark font-weight-bold">@Model.DemoModelToShow.ShortDescription</label>
                    </div>
                </p>
                <p>
                    <div id="outcome-section">
                        <label class="p-1 text-dark text-info" id="section-title">Doel van de applicatie:</label>
                        <br />
                        <label id="section-body" class="p-1 text-dark font-weight-bold">@Model.DemoModelToShow.DesiredOutcome</label>
                    </div>
                </p>     
                <p>
                    @if (Model.DemoModelToShow.DeveloperNames.Count > 0)
                    {
                    <div id="developer-names-section">
                        <label class="p-1 text-dark text-info" id="section-title">Er is aan gewerkt door:</label>
                        <br />
                        @foreach (var developerName in Model.DemoModelToShow.DeveloperNames)
                        {
                            <label id="section-body" class="p-1 text-dark font-weight-bold">@developerName</label>
                            <br/>
                        }
                    </div>
                    }
                </p>
             </div>
        </div>
    </div>
</form>