@page
@model PresentationWebFront.Pages.ProjectsModel
@{ViewData["Title"] = "Projecten";

}
<form method="post">    
    <div class="d-flex" id="wrapper">
        <div class="border-end bg-dark p-5" id="sidebar-wrapper">
            <div class="list-group list-group-flush bg-dark" id="side-menu-items">

                @if (Model.IsDeperPage == false)
                {
                    foreach (var subProject in Model.AllPresentationModels)
                    {
                    <div id="side-menu-project-item" class="text-lg-center">
                        <a class="list-group list-group-flush bg-dark text-light p-4" asp-page="Projects"   asp-route-pagetitle="@subProject.ProjectTitle"
                                                                                                            asp-route-basepage="@Model.BasePage"
                                                                                                            asp-route-basepagetitle="@Model.BasePageTitle">
                            <div>
                                <label asp-for="@subProject.ProjectTitle" class="list-group list-group-flush text-muted font-weight-bolder text-decoration-none">@subProject.ProjectTitle</label>
                            </div>
                        </a>
                    </div>
                        @foreach (var subSubProject in subProject.SubprojectPresentationModels)
                        {
                            <div id="side-menu-sub-project-item" class="text-lg-center">
                                <a class="list-group list-group-flush bg-dark" asp-page="Projects" asp-route-pagetitle="@subSubProject.Title"
                                                                                                   asp-route-basepage="@Model.BasePage"
                                                                                                   asp-route-basepagetitle="@Model.BasePageTitle">
                                    <div>
                                        <label asp-for="@subSubProject.Title" class="p-4 text-light">@subSubProject.Title</label>
                                    </div>
                                    @*<div>
                                        <progress class="progress-bar-animated p-1" value="@subSubProject.ProgressPercentage" />
                                    </div>*@
                                    @*<div>
                                        <label asp-for="@subSubProject.ProjectStatus" class="text-muted">@subSubProject.ProjectStatus</label>
                                    </div>*@
                                </a>
                            </div>
                        }
                    }
                }
                @if (Model.IsDeperPage == true)
                {
                    <div>
                        <div id="side-menu-catagory-item"class="text-lg-center">
                            <a class="list-group list-group-flush bg-dark text-light p-4" asp-page="Projects" asp-route-pagetitle="@Model.BasePage">
                                <label id="base-page-title" class="list-group list-group-flush text-muted font-weight-bold">
                                    @Model.BasePageTitle
                                </label></a>
                        </div>
                        @if (Model.SubProjectClicked == true && Model.PagePresentationProject.MainProjectTitle != Model.BasePage)
                        {
                            <div id="side-menu-project-item" class="list-group list-group-flush bg-dark text-lg-center">
                                <a class="bg-dark text-muted" asp-page="Projects"  asp-route-basepage="@Model.BasePage"
                                                                                   asp-route-pagetitle="@Model.PagePresentationProject.MainProjectTitle"
                                                                                   asp-route-basepagetitle="@Model.BasePageTitle"
                                                                                   asp-route-mainprojectclicked="true">@Model.PagePresentationProject.MainProjectTitle</a>                            
                            </div>
                        }
                        <div id="side-menu-showing-project-item" class="list-group list-group-flush bg-dark text-lg-center">
                            <label class="bg-dark text-light p-4">@Model.PagePresentationProject.ProjectTitle</label>
                            @*@if (Model.PageProject.ShowProgressBar == true)
                            {
                                <div>
                                    <progress class="progress-bar-animated bg-d p-1" value="@Model.PagePresentationProject.ProgressPercentage" />
                                </div>
                            }*@
                            @*<div>
                                <label asp-for="@Model.PagePresentationProject.ProjectStatus" class="text-muted">@Model.PagePresentationProject.ProjectStatus</label>
                            </div>*@

                        </div>

                        @foreach (var subProject in Model.AllPresentationModels)
                        {
                            <div id="side-menu-sub-project-item" class="text-lg-center">
                                <a class="list-group list-group-flush bg-dark" asp-page="Projects" asp-route-pagetitle="@subProject.ProjectTitle"
                                                                                                   asp-route-basepage="@Model.BasePage"
                                                                                                   asp-route-basepagetitle="@Model.BasePageTitle">
                                    <div>
                                        <label asp-for="@subProject.ProjectTitle" class="p-4 text-muted">@subProject.ProjectTitle</label>
                                    </div>
                                    @*<div>
                                        <progress class="progress-bar-animated p-1" value="@subProject.ProgressPercentage" />
                                    </div>*@
                                    @*<div>
                                        <label asp-for="@subProject.ProjectStatus" class="text-muted">@subProject.ProjectStatus</label>
                                    </div>*@

                                </a>
                            </div>
                        }
                 </div>
                }
            </div>
        </div>  
        
        <div class="text-center p-2" id="page-content">
            <h1 class="display-4 p-1">@Model._PageTitle</h1>
            <br />
            @if (Model.WorkedOn == true)
            {
                <div id="page-content-wrapper" class="p-2">
                    <p class="align-items-center">
                        <div id="project-link-text">
                            <br />
                            <a asp-page="Projects" asp-route-pageTitle="@Model.MostRecentProject.Title"
                               asp-route-basepage="@Model.BasePage"
                               asp-route-basepagetitle="@Model.BasePageTitle"
                               asp-route-subprojectclicked="true">
                                <label class="display-4 text-dark"> @Model.MostRecentProject.Title </label>
                            </a>
                        </div>
                    </p>
                    <p>
                        @if (Model.ShowPicture == true)
                        {
                            <div id="project-link-picture">
                                <p class="p-4">
                                    <a asp-page="Projects" asp-route-pageTitle="@Model.MostRecentProject.Title"
                                       asp-route-basepage="@Model.BasePage"
                                       asp-route-basepagetitle="@Model.BasePageTitle"
                                       asp-route-subprojectclicked="true"> <img src="~/@Model.ProjectPictureFilePath" width="500" height="400" /></a>

                                </p>
                            </div>
                        }
                        @if (Model.ShowPicture == false && string.IsNullOrEmpty(Model.MostRecentProject.ShortDescription) == false)
                        {
                            <div id="project-short-description">
                                <label>@Model.PageProject.ShortDescription</label>
                            </div>
                        }
                        <div class="p-2" id="last-worked-on-remark">

                            <label class="text-muted">Aan dit project is het laatst gewerkt. </label>
                        </div>
                    </p>
                </div>
            }
            @if (Model.WorkedOn == false && Model.SubProjectClicked == true)
            {
                @if (Model.ShowPicture == true)
                {
                    <div id="project-picture" class="align-items-center">
                        <p class="p-4">
                            <a href="~/@Model.ProjectPictureFilePath"><img height=20% width=20% alt="@Model.PageProject.Title" src="~/@Model.ProjectPictureFilePath" /></a>
                        </p>
                    </div>

                }
                <div id="page-text-section" class="p-4">
                    @if (string.IsNullOrEmpty(Model.PagePresentationProject.ShortDescription) == false)
                    {
                        <div id="page-text-shortdescriontion-section" class="p-2">
                            <label class="p-1 text-dark text-info" id="section-title">Omschrijving:</label>
                            <br />
                            <label class="p-2 text-dark font-weight-bold" id="section-text">@Model.PageProject.ShortDescription</label>
                        </div>

                    }

                    @if (string.IsNullOrEmpty(Model.PageProject.Outcome) == false)
                    {
                        <div id="page-text-outcome-section" class="p-2">
                            <label class="p-1 text-dark text-info" id="section-title">Resultaat:</label>
                            <br />
                            <label class="p-1 text-dark  font-weight-bold" id="section-text">@Model.PageProject.Outcome</label>
                        </div>
                    }

                    @if (Model.PagePresentationProject.Challenges.Count > 0)
                    {
                        <div id="page-text-display-dictionary" class="p-2 container">
                            <label class="p-1 text-dark text-info" id="section-title">Uitdagingen:</label>
                            <br />
                            <ul>
                                @foreach (var item in Model.PagePresentationProject.Challenges)
                                {
                                    <div id="dictionary-display-section" class="text-center p-1">
                                        <div id="dictionary-display-item-key-section" class="">
                                            <label id="dictionary-item-Key" class="p-1 text-dark font-weight-bold"><h5><li>@item</li></h5></label>
                                        </div>
                                    </div>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model.PagePresentationProject.FutureAdditions.Count > 0)
                    {
                        <div id="page-text-display-dictionary" class="p-2 container">
                            <label class="p-1 text-dark text-info" id="section-title">Uitbreidingen:</label>
                            <br />
                            <ul>
                                @foreach (var item in Model.PagePresentationProject.FutureAdditions)
                                {
                                    <div id="dictionary-display-section" class="text-center p-1">
                                        <div id="dictionary-display-item-key-section" class="">
                                            <label id="dictionary-item-Key" class="p-1 text-dark font-weight-bold"><h5><li>@item</li></h5></label>
                                        </div>
                                    </div>
                                }

                            </ul>
                        </div>
                    }
                    <div id="project-status-section">
                        <div id="project-status-head-section">
                            <label class="p-1 text-dark text-info" id="section-head">Status:</label>
                        </div>
                        <div id="project-status-status-section">
                            <label id="project-status" class="p-1 text-dark font-weight-bold"><h5>@Model.PageProject.ProjectStatus</h5></label>
                        </div>
                    </div>
                    @if (Model.PagePresentationProject.DeveloperNames.Count > 0)
                    {
                        <div id="project-developer-name-section">
                        <div id="project-developer-name-head-section">
                            <label class="p-1 text-dark text-info" id="section-head">Er is aan gewerkt door:</label>
                        </div>
                            @foreach (var developerName in Model.PagePresentationProject.DeveloperNames)
                            {
                            <div id="project-status-status-section">
                                <label id="project-status" class="p-1 text-dark font-weight-bold"><h5>@developerName</h5></label>
                            </div>

                            }
                    </div>
                    }
                </div>
            }
        </div>
    </div>
</form>
