@page
@model PresentationWebFront.Pages.SolutionsPageModel
@{
}
<form method="post">
    <div id="page-section-top" class="p-2">
        @*<div id="button row" class="row">
                <div class="p-2">
                    <button type="submit" asp-route-classification ="All" asp-page-handler="classification" class="btn btn-dark text-muted">Alle</button>
                </div>
                <div class="p-2">
                    <button type="submit" asp-route-classification="Challenges" asp-page-handler="classification" class="btn btn-dark text-muted">Uidagingen</button>
                </div>
                <div class="p-2 ">
                    <button type="submit" asp-route-classification="FutureAdditions" asp-page-handler="classification" class="btn btn-dark text-muted">Toekomstige features</button>
                </div>
            </div>*@
        <div id="page-section-search">
            <div id="page-section-seach-seach-field" class="p-2 ">
                <input type="text" asp-for="@Model.SearchTerm" spellcheck="true" placeholder="Probleem" class="table-dark" />
            </div>
            <div id="page-section-search-button" class="p-2">
                <button type="submit" asp-route-classification="All" asp-page-handler="search" class="btn btn-dark text-muted">Zoek oplossing</button>
            </div>
        </div>
    </div>
    @if (Model.SearchEnabled == false && Model.DictionaryClassification == Enums.Enums.DictionaryClassification.Challenges)
    {
        <div id="page-section-body-head">
            <label>Oplossingen voor uitdagingen:</label>
        </div>
    }
    @if (Model.SearchEnabled == false && Model.DictionaryClassification == Enums.Enums.DictionaryClassification.FutureAdditions)
    {
        <div id="page-section-body-head">
            <label>Oplossingen voor toekomstige features</label>
        </div>

    }
    @if (Model.SearchEnabled == false && Model.DictionaryClassification == Enums.Enums.DictionaryClassification.All)
    {
        <div id="page-section-body-head">
            <label>Alle oplossingen</label>
        </div>

    }
    @if (Model.SearchEnabled == true)
    {
        <div id="page-section-body-head">

            <label>Alle oplossingen voor <strong>@Model.SearchTerm</strong></label>
        </div>
    }
    <div id="page-section-solutions-table" class="p-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Probleem</th>
                    <th>Oplossing:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var problem in Model.PageSolutions)
                {
                    <tr>
                        <td>
                            <label>@problem.Key</label>
                        </td>
                        <td>
                            @foreach (var solution in problem.Values)
                            {
                                if (solution.Contains("http") == true)
                                {
                                    <a href="@solution" target="_blank"><label id="dictionary-display-challenge-value" class="p-1 text-dark font-italic">@solution</label></a>
                                }
                                @if (solution.Contains("http") == false)
                                {
                                    <label id="dictionary-display-challenge-value" class="p-1 text-dark font-italic">@solution</label>
                                }
                                <br />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>



@*<div id="dictionary-display-value-section">
        @foreach (var value in item.Value)
        {
            if (value.Contains("http") == true)
            {
                <a href="@value" target="_blank"><label id="dictionary-display-challenge-value" class="p-1 text-dark font-italic">@value@value</label></a>
            }
            @if (value.Contains("http") == false)
            {
                <label id="dictionary-display-challenge-value" class="p-1 text-dark font-italic">@value</label>
            }
            <br />
        }
    </div>*@