@page
@model PresentationWebFront.Pages.TimeUnitOverviewPageModel
@{
}
<form method="post">
    <div id="page-section-top" class="p-2 ">
        <div id="page-section-search" class="row p-4">

            <div id="page-section-search-search-date-section" class="p-4">
                <div id="page-section-search-date-field" class="p-2 ">
                    <input type="date" asp-for="@Model.SearchDate" value="@Model.SearchDate" class="table-dark text-muted" />
                </div>
                <div id="page-section-search-button" class="p-2">
                    <button type="submit" asp-route-classification="All" asp-page-handler="searchdate" class="btn btn-dark text-muted">Zoek</button>
                </div>
            </div>

            <div id="page-section-search-search-project-section" class="p-4">
                <div id="page-section-search-project-field" class="p-2 ">
                    <input type="text" asp-for="@Model.SearchTerm" spellcheck="true" placeholder="Project naam" class="table-dark" />
                </div>
                <div id="page-section-search-project-button" class="p-2">
                    <button type="submit" asp-route-classification="All" asp-page-handler="searchproject" class="btn btn-dark text-muted">Zoek project</button>
                </div>
            </div>

        </div>
    </div>
    @if (Model.SearchProjectEnabled == true)
    {
        <div id="page-section-searched-projects" class="p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project titel</th>
                        <th>Totale uren</th>
                        <th>Algemene uren</th>
                        <th>In code uren</th>
                        <th>Theoretische uren</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.ProjectsToFind)
                    {
                        <tr>
                            <td>
                                <label asp-for="@project.Title">@project.Title</label>
                            </td>
                            <td>
                                <label asp-for="@project.TotalHours">@project.TotalHours</label>
                            </td>
                            <td>
                                <label asp-for="@project.GeneralHours">@project.GeneralHours</label>
                            </td>
                            <td>
                                <label asp-for="@project.PracticalHours">@project.PracticalHours</label>
                            </td>
                            <td>
                                <label asp-for="@project.TheoreticalHours">@project.TheoreticalHours</label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if (Model.SearchByDateEnabled == true)
    {
        <div id="page-section-searched-dates-label">
            <label><strong>Sinds @Model.SearchDate.ToShortDateString()</strong></label>
        </div>
        <div id="page-section-searched-total-hour-results" class="p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Totaal</th>
                        <th>Algemeen</th>
                        <th>In code</th>
                        <th>Theorie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.SearchTotalHours</td>
                        <td>@Model.SearchGeneralHours</td>
                        <td>@Model.SearchPracticalHours</td>
                        <td>@Model.SearchTheoreticalHours</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="page-section-searched-dates-label">
            <label><strong>Is er gewerkt aan</strong></label>
        </div>
        <div id="page-section-searched-total-project-results" class="p-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Uren</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in Model.WorkedOnProjects)
                    {
                        <tr>
                            <td>@project.ProjectTitle</td>
                            <td>@project.TotalHours</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }

    <div id="page-section-time-unit-table-label">
        <label><strong>Tijd eenheden</strong></label>
    </div>
    <div id="page-section-time-unit-table" class="p-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Time stamp </th>
                    <th>Project titel </th>
                    <th>Uren</th>
                    <th>Catagorie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var timeUnit in Model.TimeUnitsToShow)
                {
                    <tr>
                        <td>
                            <label asp-for="@timeUnit.TimeStamp">@timeUnit.TimeStamp.ToShortDateString()</label>
                        </td>
                        <td>
                            <label asp-for="@timeUnit.ProjectTitle">@timeUnit.ProjectTitle</label>
                        </td>
                        <td>
                            <label asp-for="@timeUnit.HoursPutIn">@timeUnit.HoursPutIn</label>
                        </td>
                        <td>
                            <label asp-for="@timeUnit.Classification">@timeUnit.Classification</label>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>