@page
@model ProjectProgressWebFront1.Pages.ProjectPageModel
@{ViewData["Title"] = "Projects";

    //var photoPath = "~/ProjectPhotos/" + (Model.Project.Title ?? "blank") + ".jpg";
    //var photoPath = Model.PhotoPath;
}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div>
            <input type="hidden" asp-for="@Model.OldProjectTitle" value="@Model.OldProjectTitle" />
            @if (Model.EditingProject == true)
            {
                <label>Project title:</label>
                <br />
            }

            @*ToDo check noProjectTitle switching*@
            @if (Model.NoProjectTitle == true)
            {
                <label class="alert-danger">Please enter a title</label>
            }
            @if (Model.NewProjectWithSameTitle == true)
            {
                <label class="alert-danger">Please use an other project title this already exists</label>
            }
            <br />
            <input type="text" asp-for="@Model.Project.Title" value="@Model.Project.Title" class="table-dark" spellcheck="true" placeholder="Project title" />
            <br />
            <br />


            @if (Model.mainGoal != "Demoing the app")
            {

                <img class="imageThumbnail" src="~/ProjectPhotos/@Model.ProjectPictureFilePath" asp-append-version="true" height="200" width="200" />
                <div class="form-group row">
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" asp-for="Photo" class="custom-file-input form-control bg-dark p-4" />
                            <label class="custom-file-label bg-dark">Change photo</label>
                        </div>
                    </div>
                </div>
                <br />

            }
            <input type="number" asp-for="@Model.Project.Impact" value="@Model.Project.Impact" class="table-dark" min="1" max="10" />
            <label asp-for="@Model.Project.Impact"></label>
            <br />
            <input type="number" asp-for="@Model.Project.Urgency" value="@Model.Project.Urgency" class="table-dark" min="1" max="10" />
            <label asp-for="@Model.Project.Urgency"></label>
            <br />
            <input type="number" asp-for="@Model.Project.EaseOffSuccess" value="@Model.Project.EaseOffSuccess" class="table-dark" min="1" max="10" />
            <label asp-for="@Model.Project.EaseOffSuccess"></label>
            <br />
            <input type="number" asp-for="@Model.Project.PersonalPreference" value="@Model.Project.PersonalPreference" class="table-dark" min="1" max="10" />
            <label asp-for="@Model.Project.PersonalPreference"></label>


            <br />
            <br />
            @*ToDo make shortdescription and description textfields*@

            @if (Model.EditingProject == true)
            {
                <label>Short description:</label>
                <br />
            }
            <input type="text" asp-for="@Model.Project.ShortDescription" value="@Model.Project.ShortDescription" class="table-dark" spellcheck="true" placeholder="Short description" />
            <br />
            <br />
            @if (Model.EditingProject == true)
            {
                <label>Desired outcome:</label>
                <br />
            }
            <input type="text" asp-for="@Model.Project.Outcome" value="@Model.Project.Outcome" class="table-dark" spellcheck="true" placeholder="Desired outcome" />
            <br />
            <br />
            @if (Model.EditingProject == true)
            {
                <label>Demo link:</label>
                <br />
            }
            <input type="text" asp-for="@Model.Project.DemoLink" value="@Model.Project.DemoLink" class="table-dark" spellcheck="true" placeholder="Demo link" />

            <br />
            <br />
            @if (Model.EditingProject == true)
            {
                <label>GitHub link:</label>
                <br />
            }
            <input type="text" asp-for="@Model.Project.GitHubLink" value="@Model.Project.GitHubLink" class="table-dark" spellcheck="true" placeholder="GitHub link" />
            
            <br />

            @if (Model.EditingProject == true)
            {
                <br />
                <label>Developer:</label>
                <br />
                <input type="text" asp-for="@Model.Project.DeveloperName" value="@Model.Project.DeveloperName" class="table-dark" />
                <label asp-for="@Model.Project.DeveloperName"></label>
                <br />
            }

            <br />
            <input type="checkbox" asp-for="@Model.Project.ShowItem" checked="@Model.Project.ShowItem" class="table-dark" />
            <label asp-for="@Model.Project.ShowItem"></label>
            <br />
            <input type="checkbox" asp-for="@Model.Project.HasDemo" checked="@Model.Project.HasDemo" class="table-dark" />
            <label asp-for="@Model.Project.HasDemo"></label>
            <br />
            <input type="checkbox" asp-for="@Model.Project.ShowProgressBar" checked="@Model.Project.ShowProgressBar" class="table-dark" />
            <label asp-for="@Model.Project.ShowProgressBar"></label>
            <br />
            <input type="checkbox" asp-for="@Model.Project.PriorityCalculation" class="table-dark" checked="@Model.Project.PriorityCalculation" />
            <label asp-for="@Model.Project.PriorityCalculation"></label>
            <br />

            @if (Model.EditingProject == false)
            {
                <button type="submit" class="btn btn-dark" asp-page-handler="Save">Save project</button>
            }
            @if (Model.EditingProject == true)
            {
                <button type="submit" class="btn btn-dark" asp-page-handler="SaveEditedProject" value="none">Save project</button>
            }

        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Select mainproject:</th>
                    </tr>
                </thead>
                <tbody>

                    @*ToDo get all td tr h6 into if statements*@


                    @if (Model.IsCircularReference == true)
                    {
                        <div>
                            <label class="alert-danger">Did not Save @Model.Project.Title changes, there is a circular reference via <strong>@Model.ProblemProjectTitle</strong></label>
                        </div>
                        <div>
                            <label class="alert-danger"></label>
                        </div>

                    }
                    @*<label class="alert-danger">There is a circular reference via @Model.ProblemProjectTitle</label>*@
                    @foreach (var project in Model.AllProjects)
                    {
                        <tr>
                            <td>
                                <h6>
                                    @if (Model.EditingProject == false && Model.AddingProject == false)
                                    {
                                        @if (project.Title == Model.mainGoal)
                                        {
                                            <input asp-for="@Model.MainProjectTitle" type="radio" value="@project.Title" name="MainprojectTitle" checked="checked" /><label class="p-2">@project.Title</label>
                                        }
                                        @if (project.Title != Model.mainGoal)
                                        {
                                            <input asp-for="@Model.MainProjectTitle" type="radio" value="@project.Title" name="MainprojectTitle" /><label class="p-2">@project.Title</label>
                                        }
                                    }
                                    @if (Model.EditingProject == true || Model.AddingProject == true)
                                    {
                                        @if (Model.MainProjectTitle == project.Title && Model.Project.Title != project.Title)
                                        {
                                            <input asp-for="@Model.MainProjectTitle" type="radio" value="@project.Title" name="MainprojectTitle" checked="checked" /><label class="p-2">@project.Title</label>
                                        }
                                        @if (Model.MainProjectTitle != project.Title && Model.Project.Title != project.Title)
                                        {
                                            <input asp-for="@Model.MainProjectTitle" type="radio" value="@project.Title" name="MainprojectTitle" /><label class="p-2">@project.Title</label>
                                        }
                                        @if (Model.Project.Title == project.Title)
                                        {

                                        }
                                    }
                                    @if (Model.IsCircularReference == true && project.Title == Model.ProblemProjectTitle)
                                    {
                                        <label class="alert-danger">Via this project there is a circular reference</label>
                                    }
                                </h6>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>