@page
@model PortfolioMVP.Pages.TestPageModel
@{

}
<!--Page body wrapper-->
<div id="wrapper">
    <div class="scrollable-page d-inline-flex">
        <!--Side Menu-->
        <div id="sidebar-wrapper" class="side-menu flex">
            <!--Catagory link-->
            <div class="sidebar-heading div-side-menu-catagory-item side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-catagory-item-label menu-text">
                        Catagory item
                    </label>
                </a>
            </div>
            <!--If it is a page with no loaded project-->
            <!--Sub project title menu item-->
            <div class="sidebar-heading div-side-menu-main-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item div-side-menu-project menu-text">
                        first page item
                    </label>
                </a>
            </div>
            <!-- sub sub project title menu item-->
            <div class="list-group list-group-flush div-side-menu-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-sub-project-item-label menu-text">
                        Firstpage sub item
                    </label>
                </a>
            </div>
            <!--if a project is loaded-->
            <!--If item is not the catagory-->
            <!--Load title main project-->
            <div class="sidebar-heading div-side-menu-selected-main-project  side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-main-project-item-label menu-text">
                        Comptia Linux +
                    </label>
                </a>
            </div>
            <!--Selected project-->
            <div class="sidebar-heading div-side-menu-selected div-side-menu-selected-project side-menu-item">
                <label class="side-menu-item side-menu-deper-project-selected-project-item menu-text">
                    Progress/Portfolio application
                </label>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
            <!--Load all subproject titles of selected project-->
            <div class="sidebar-heading div-side-menu-selected-sub-project side-menu-item">
                <a class="list-group list-group-flush bg-dark">
                    <label class="side-menu-item side-menu-deper-project-sub-project-item-label menu-text">
                        Deeper Sub project item
                    </label>
                </a>
            </div>
        </div>
            <!--Page Content-->
        <div id="page-content" class="div-page-content">

            <!--IndexPage content-->
            <div class="div-photo-section div-profile-picture-section">
                <img class="img-index-profile-picture img-index-profile-picture" src="~/Pictures/profielfoto.jpg" alt="ProfielFoto" />
            </div>
            <div class="div-index-quote-section">
                <label class="label-index-quote-label page-text">“Oprechte interesse is mijn drijvende kracht”</label>
            </div>
            <div class="div-index-name-section">
                <label class="label-index-name-label page-text">— Victor Looren de Jong</label>
            </div>



            <!--Regular page content-->
            <!--Title-->
            <div class="div-page-title">
                <label class="label-page-title page-text">Progress/Portfolio application</label>
            </div>
            <!--Photo here-->
            <div class="div-photo-section">
                <img class="img-project-photo" src="~/ProjectPhotos/MBO 4 Software developer.jpg" alt="ProjectPhoto" />
            </div>
            <!--Links section-->
            <div class="div-links-section">
                <!--Demo Link section-->
                <div class="div-demo-link-section">
                    <a href="@Model.FakeModel.DemoLink" class="label-demo-link page-text" target="_blank">
                        Klik hier om de demo te proberen
                    </a>
                </div>
                <!--GitHub Link section-->
                <div class="div-github-link-section">
                    <a href="@Model.FakeModel.GitHubLink" target="_blank">
                        <img class="img-github-logo page-text" src="~/Pictures/GitHubLogo.png" />
                        View source code
                    </a>
                </div>
            </div>
            <!--Description-->
            <div class="div-description-outcome-status-text-section">
                <label class="label-text-section-head page-text">
                    Omschrijving:
                </label>
                <br />
                <label class="page-text label-text-section-text">@Model.FakeModel.ShortDescription</label>
            </div>
            <!--outcome-->
            <div class="div-description-outcome-status-text-section">
                <label class="label-text-section-head page-text">
                    Resultaat:
                </label>
                <br />
                <label class="page-text label-text-section-text">@Model.FakeModel.Outcome</label>
            </div>
            <!--Challenges/Future-->
            <div class="div-challenges-future-section test-class">
                <label class="page-text label-text-section-head">Uitdagingen/Toekomstige aanvullingen:</label>
                <br />
                    <div class="d-inline-flex">
                        <div class="div-filler"></div>
                        <div class="div-challenges-future-list-section page-text">
                            <ul>
                                <li>Challenge 4/Addition 4</li>
                                <li>Challenge 5/Addition 5</li>
                                <li>Challenge 6/Addition 6</li>
                            </ul>
                        </div>
                        <div class="div-filler"></div>

                    </div>
               </div> 
            <!--Status-->
            <div class="div-description-outcome-status-text-section">
                <label class="page-text label-text-section-head">
                    Status:
                </label>
                <br />
                <label class="page-text label-text-section-text">@Model.FakeModel.ProjectStatus</label>
            </div>
            <!--Developer names section-->
            <div class="div-description-outcome-status-text-section">
                <label class="page-text label-text-section-head">
                    Developer:
                </label>
                <br />
                <label class="page-text label-text-section-text">@Model.FakeModel.DeveloperName</label>
            </div>

            <!--Search section-->
            <div id="page-section-search" class="div-input-section d-inline-flex">
                <!--Date field button combination-->
                <div id="page-section-search-date-section" class="div-input-field-button-combination-section">
                    <label class="page-text label-search-field">Bekijk voortgang sinds:</label>
                    <div id="page-section-search-date-field" class="div-input-field-section">
                        <input type="date" class="menu-text text-field-formatting" />
                    </div>
                    <div id="page-section-search-button" class="div-button-section">
                        <button type="submit" class="button-formatting button-text menu-text">Zoek</button>
                    </div>
                </div>
                <!--Text field-buttoncombination-->
                <div id="page-section-search-text-section" class="div-input-field-button-combination-section">
                    <label class="page-text label-search-field">Bekijk uren voor project:</label>
                    <div id="page-section-search-text-field" class="div-input-field-section">
                        <input type="text" spellcheck="true" placeholder="Placeholder" class="menu-text text-field-formatting" />
                    </div>
                    <div id="page-section-search-button" class="div-button-section">
                        <button type="submit" class="button-formatting button-text menu-text">Zoek</button>
                    </div>
                </div>
            </div>
            <!--Explanation section-->
            <div class="div-explanation-section">
                <label class="label-about-me-text-section label-text-section-tex page-text">Yello!!</label>
                <br />
                <label class="label-about-me-text-section label-text-section-tex page-text">Yello!!</label>
                <br />
                <label class="label-about-me-text-section label-text-section-tex page-text">Yello!!</label>
                <br />
                <label class="label-about-me-text-section label-text-section-tex page-text">Yello!!</label>
                <br />
                <label class="label-about-me-text-section label-text-section-tex page-text">Yello!!</label>
            </div>
            <!--Table section-->
            <div class="div-table-title-section">
                <label class="page-text label-table-title">Titel</label>
            </div>
            <div id="page-section-added-projects-table" class="div-table-section">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="div-table-title-column-head-section">
                                    <label class="label-table-head label-table-title page-text">Table title</label>
                                </div>
                            </th>
                            <th>
                                <div class="div-table-sub-column-head-section">
                                    <label class="label-table-head page-text">Sub colum head</label>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="div-table-row-title-item-section">
                                    <label class="label-table-row page-text">Row title item</label>
                                </div>
                            </td>
                            <td>
                                <div class="div-table-sub-column-item-section">
                                    <label class="label-table-row page-text">Sub colum item</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>